[Desktop Entry]
Type=Application
Version=1.0
Name={{{name}}}
GenericName=Music Player
{{#if comment}}
Comment={{{comment}}}
{{/if}}
Exec={{{exec}}} %U
Icon={{{icon}}}
Terminal=false
Categories=AudioVideo;Audio;Music;Player;
Keywords=Music;Audio;Player;
StartupWMClass=com.audios.desktop
MimeType=audio/flac;audio/mpeg;audio/mp4;audio/ogg;audio/opus;audio/x-flac;audio/x-vorbis+ogg;audio/wav;audio/x-wav;audio/aac;audio/x-m4a;audio/aiff;audio/x-aiff;
StartupNotify=true
